/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* SportsStore */
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

/* header styles */

header h1.title, DIV.item H3, DIV.item H4, DIV.pager A { 
font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial; 
}
header { background-color: #444; border-bottom: 2px solid #111; color: White; } 
header h1.title { font-size: 2em; padding: .6em; }

/* section content styles */

section#content { border-left: 2px solid gray; margin-left: 9em; padding: 1em; }

div.item { border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em; } 
div.item:first-child { border-top:none; padding-top: 0; } 
div.item H3 { font-size: 1.3em; margin: 0 0 .25em 0; } 
div.item H4 { font-size: 1.1em; margin:.4em 0 0 0; } 
div.pager { 
    text-align:right; 
    border-top: 2px solid silver; 
    padding: .5em 0 0 0; 
    margin-top: 1em; } 
div.pager A { 
    font-size: 1.1em; 
    color: #666; 
    text-decoration: none; 
    padding: 0 .4em 0 .4em; } 
div.pager A:hover {
    background-color: Silver;
} 
div.pager A.selected {
     background-color: #353535; 
     color: White;
}

/* nav styles */

nav#categories { float: left; width: 8em; padding: .3em; }

nav#categories ul {
    list-style: none;
}

nav#categories a 
{ 
font: bold 1.2em "Arial Narrow","Franklin Gothic Medium",Arial; display: block; 
text-decoration: none; padding: .6em; color: Black; 
border-bottom: 1px solid silver; 
} 
nav#categories a.selected { background-color: #666; color: White; } 
nav#categories a:hover { background-color: #CCC; } 
nav#categories a.selected:hover { background-color: #666; } 

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
