<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a737fea7-d86d-44e6-8871-a722014c5714"
            Publisher="CN=Jaime"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MovieBrowser</DisplayName>
    <PublisherDisplayName>Jaime</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MovieBrowser.App">
        <VisualElements
            DisplayName="MovieBrowser"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MovieBrowser"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>